---
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: rhlab-cluster
rendezvousIP: "{{ rendezvousIP }}"
hosts:
  - hostname: lab-master-1
    role: master
    interfaces:
      - name: en3
        macAddress: 00:00:00:00:00:A1
  - hostname: lab-master-2
    role: master
    interfaces:
      - name: en3
        macAddress: 00:00:00:00:00:A2
  - hostname: lab-master-3
    role: master
    interfaces:
      - name: en3
        macAddress: 00:00:00:00:00:A3